/** @format */
html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin: 0px;
	color: #333;
}
p {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #555;
	font-weight: 300;
	letter-spacing: 1.2px;
}
a,
a:hover,
a:focus {
	color: #fff;
	text-decoration: none;
}
button,
button:focus,
a,
a:hover,
a:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
	outline: none;
}
.h2 {
	font-size: 2.3rem;
	text-transform: uppercase;
	margin: 0 auto;
	letter-spacing: 1.2px;
}
/* End Main Rules */

/* ---------------------------------------
			Start Global Styles 
----------------------------------------- */

.about-me,
.fun-facts,
.services,
.technical-skills,
.experiences,
.portfolio {
	padding: 80px 0 40px;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
}
.pattern {
	background: url('../img/noise.png') repeat center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
.heading-line {
	height: 3px;
	width: 100px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
}
.main-para {
	margin: 0 auto;
	letter-spacing: 1.5px;
}
.center {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
/* End Global Styles */

/* ---------------------------------------
			Start Header Section 
----------------------------------------- */

.header .large-header {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #333 url('../img/header.jpg') center center no-repeat fixed;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
}
.header .content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.header .content p {
	font-size: 1.3rem;
	margin: 0.5rem auto;
	color: #fff;
}
.header .content h1 {
	color: #fff;
	font-size: 4rem;
	margin: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding: 0.5rem 2rem;
}
.header .content a {
	display: inline-block;
	width: 10rem;
	border: 1px solid #fff;
	padding: 8px;
	margin: 10px;
}
.header .content a:hover {
	background: #fff;
	color: #000;
	transition: all 0.3s ease;
}
.header .mouse {
	width: 30px;
	height: 45px;
	border: 3px solid #fff;
	border-radius: 20px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	cursor: pointer;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-animation: mouseMove 2s infinite;
	animation: mouseMove 2s infinite;
}
.header .mouse:after {
	position: absolute;
	content: '';
	width: 3px;
	height: 10px;
	border: 3px solid #fff;
	border-radius: 5px;
	left: 9px;
	top: 8px;
}
@-webkit-keyframes mouseMove {
	0% {
		bottom: 50px;
	}
	50% {
		bottom: 30px;
	}
}
@keyframes mouseMove {
	0% {
		bottom: 50px;
	}
	50% {
		bottom: 30px;
	}
}

/* End Header Section */
/* ---------------------------------------
			Start About me Section 
----------------------------------------- */

.about-me .container {
	width: 1170px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.about-me .container .row1 {
	width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 50px;
	text-align: left;
	margin-left: 20px;
}
.about-me .container .row2 {
	width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 10px;
}
.about-me .my-pic,
.about-me .introduction {
	margin-bottom: 20px;
}
.about-me .my-pic img {
	border-radius: 50%;
	border: 2px solid #dedede;
	background: #fff;
	padding: 7px;
	box-shadow: 0 7px 10px #999;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	width: 300px;
	height: 300px;
}
.about-me .introduction p {
	text-align: left;
	color: #555;
	font-weight: 300;
	margin: 0 auto;
}
.about-me .introduction p.introduce {
	text-transform: uppercase;
}
.about-me .introduction p.intro {
	margin-top: 20px;
}
.about-me .personal-wrapper {
	display: flex;
	flex-direction: column;
}
.about-me h3 {
	font-size: 1.3rem;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #333;
	font-weight: bolder;
}
.about-me .profile {
	margin-bottom: 30px;
}
.about-me .personal-wrapper span {
	margin: 5px 0 10px;
	text-transform: uppercase;
	color: #555;
}
.about-me .personal-wrapper strong {
	display: block;
	color: #333;
	margin-bottom: 5px;
}
.about-me .why-me {
	margin-bottom: 40px;
}
.about-me .why-me .accordion {
	text-align: left;
	line-height: 1.8;
}
.about-me .why-me .accordion .acc-item .acc-title {
	width: 500px;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	position: relative;
	border: 1px solid #ccc;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.about-me .why-me .accordion .acc-item .acc-title ion-icon {
	font-size: 30px;
	position: absolute;
	right: 20px;
	color: #181818;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.about-me .why-me .accordion .acc-item .acc-title.active {
	background: #181818;
	color: #fff;
	border-color: #181818;
}
.about-me .why-me .accordion .acc-item .acc-title.active ion-icon {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	color: #fff;
}
.about-me .why-me .accordion .acc-item .acc-content {
	padding: 10px;
	margin: 0;
	letter-spacing: 1.3px;
	color: #555;
	background: #f4f4f4;
	display: none;
}

/* End About me Section */
.services .row {
	display: flex;
}
.services .service {
	margin-bottom: 40px;
	margin-top: 40px;
}
.services .service i {
	font-size: 3.5rem;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	height: 95px;
	width: 95px;
	line-height: 95px;
	color: #222;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.services .service ion-icon {
	font-size: 20px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	height: 95px;
	width: 95px;
	line-height: 95px;
	color: #222;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px;
	cursor: poi;
}
.services .service:hover i {
	background: #222;
	color: #fff;
	border: 1px solid #222;
}
.services .service:hover ion-icon {
	background: #222;
	color: #fff;
	border: 1px solid #222;
}
.services .service h3 {
	color: #333;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* ---------------------------------------
		Start Technical Skills Section 
----------------------------------------- */

.technical-skills {
	background: #333 url('../img/coding-min.jpg') no-repeat 50% 80% fixed;
	background-size: cover;
	position: relative;
}
.technical-skills h2 {
	color: #eaeaea;
	position: relative;
}
.technical-skills p.title {
	color: #eaeaea;
	position: relative;
}
.technical-skills .heading-line {
	background: #fff;
}
.progress-bar-container {
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
}
.progress-bar-container .box .chart {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	font-weight: 400;
	text-transform: uppercase;
}
.progress-bar-container .box .chart span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 2.2rem;
}
.percent {
	position: absolute;
	top: 55px;
	/* bottom: 20px; */
	right: 30px;
	font-size: 2.2rem;
}

.progress-bar-container h2 {
	margin-top: 10px;
	text-transform: uppercase;
}

.technical-skills .skills-wrapper {
	margin: 80px;
	display: grid;
	grid-template-columns: 50% 50%;
}
.technical-skills .other-skills {
	margin-top: 80px;
}
.technical-skills .bar_group {
	text-align: left;
	position: relative;
	margin-bottom: 20px;
}
.technical-skills .bar_group__bar.thick {
	width: 0%;
	height: 10px;
	border-radius: 6px;
	background: #afa;
	margin-bottom: 10px;
	-webkit-transition: width 1s;
	transition: width 1s;
}
.technical-skills .bar_group__bar.thick::before {
	display: block;
	content: '';
	position: absolute;
	z-index: 0;
	opacity: 0.1;
	width: 95%;
	height: 10px;
	border-radius: 6px;
	background: #fff;
}
.technical-skills .b_label,
.technical-skills .bar_label_min,
.technical-skills .bar_label_max,
.technical-skills .b_tooltip span {
	color: #fff;
	font-size: 15px;
}
.technical-skills .b_label {
	display: inline-block;
	border: 1px solid #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.technical-skills .b_label:hover {
	background: #fff;
	color: #111;
}
.technical-skills .bar_label_max,
.technical-skills .bar_label_min {
	position: absolute;
	bottom: -10px;
}
.technical-skills .bar_label_max {
	right: 20px;
}
.technical-skills .bar_label_min {
	left: 20px;
}
.technical-skills .b_tooltip {
	-webkit-transition: all 1s;
	transition: all 1s;
	position: relative;
	float: left;
	left: 100%;
	padding: 4px 10px 7px 10px;
	background-color: rgba(255, 255, 255, 0.91);
	-webkit-transform: translateX(-50%) translateY(-30px);
	-ms-transform: translateX(-50%) translateY(-30px);
	transform: translateX(-50%) translateY(-30px);
	border-radius: 2px;
	line-height: 11px;
	box-shadow: 1px 1px 1px 1px #e2d9e2;
}
.technical-skills .b_tooltip span {
	color: #000;
}
.technical-skills .b_tooltip--tri {
	width: 0;
	height: 0;
	position: absolute;
	content: '';
	bottom: -5px;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: rgba(255, 255, 255, 0.81) transparent transparent transparent;
}
.technical-skills .bar_group .elastic {
	background: #fff;
	margin-bottom: 20px !important;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
	transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

/* End technical skills section */
/* start portfolio section */
.portfolio {
}
.portfolio .slide {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	text-align: center;
}
.portfolio .project-img {
	width: 100px;
	height: 100px;
}
/* End portfolio section */

/* ---------------------------------------
			Start  Experiences Section 
----------------------------------------- */

.experience-section {
	background-color: white;
	color: whitesmoke;
}
h1 {
	text-align: center;
	font-size: 40px;
}

.experience-section .experience-ul {
	padding: 50px 0;
}

.experience-section .experience-ul .experience-li {
	position: relative;
	list-style-type: none;
	width: 6px;
	background: black;
	margin: 0 auto;
	padding-top: 50px;
}
.experience-section .experience-ul .experience-li .experience-card {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	text-align: left;
	color: whitesmoke;
	background-color: #222;
}
.experience-section .experience-ul .experience-li .experience-card h3 {
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
}
.experience-section .experience-ul .experience-li .experience-card .duration {
	color: #b3b3b3;
	display: inline-block;
	margin: 5px;
}
.experience-section .experience-ul .experience-li .experience-card .job-title {
	font-size: 0.95em;
	display: block;
	color: #aaa;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.experience-section .experience-ul .experience-li .experience-card p {
	color: whitesmoke;
	font-size: 14px;
}
ul li::after {
	background: black;
	content: '';
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

ul li div {
	position: relative;
	width: 400px;
	padding: 15px;
	border-radius: 5px;
	bottom: 0;
	background-color: black;
}

ul li:nth-child(odd) div {
	left: 45px;
}

ul li:nth-child(even) div {
	left: -445px;
}

ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
}

ul li.show div {
	transform: none;
	visibility: visible;
	opacity: 1;
}
/* ---------------------------------------
			Start  Quote Section 
----------------------------------------- */

.quote {
	padding: 80px 0;
	background: #333 url('../img/qoute.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.quote .qoute-wrapper {
	text-align: center;
	color: #fff;
	position: relative;
}
.quote .qoute-wrapper p {
	font-size: 2.2rem;
	width: 80%;
	margin: 0 auto;
	letter-spacing: 2px;
	color: #fff;
}
.quote .qoute-wrapper p.words .quote-mark {
	font-size: 3rem;
}
.quote .qoute-wrapper p.words .quote-mark.open {
	margin-right: 10px;
}
.quote .qoute-wrapper p.words .quote-mark.end {
	margin-left: 10px;
}
.quote .qoute-wrapper p.author {
	font-size: 1rem;
	color: #ddd;
	margin-top: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

/* End  Quote Section */

.contact-info {
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
}

.contact-info .info ion-icon {
	background: #fff;
	color: #181818;
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	line-height: 80px;
	border-bottom: 4px solid rgba(233, 233, 233, 0.8);
	border-radius: 0 0 100% 100%;
}
#map {
	width: 100%;
	height: 500px;
	margin-top: 40px;
}
/* ---------------------------------------
			Start  Footer Section 
----------------------------------------- */

.footer {
	background: #181818;
}
.footer .follow-me {
	background: #fff;
	display: inline-block;
	position: relative;
	padding: 10px 20px;
	border-radius: 0 0 10px 10px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 1.7px;
	width: 130px;
}
.footer .follow-me:before,
.footer .follow-me:after {
	position: absolute;
	content: '';
	border-top: 10px solid transparent;
	top: -10px;
}
.footer .follow-me:before {
	border-right: 10px solid #9e9e9e;
	left: -10px;
}
.footer .follow-me:after {
	border-left: 10px solid #9e9e9e;
	left: 130px;
}
.footer .icon-wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1;
}
.footer ion-icon {
	font-size: 40px;
	margin: 10px;
}

/*
.footer .icon-wrapper .icon {
	display: inline-block;
	position: relative;
	font-size: 2em;
	background: #4c4c4c;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.footer .icon-wrapper .icon:before,
.footer .icon-wrapper .icon:after {
	line-height: 50px;
	width: 50px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.footer .icon-wrapper .icon:after {
	position: absolute;
	display: inline-block;
	font-family: 'Ionicons';
	left: calc(50% - 25px);
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
} */

.footer .copyright {
	border-top: 1px solid #333;
	padding: 15px 0;
}
.footer .copyright h6 {
	color: #777;
	font-weight: 400;
	letter-spacing: 1.5px;
}

/* End  Footer section */
/* .contact .contact-info {
	margin-top: 40px;
}
.contact .contact-info .info {
	margin-bottom: 40px;
}
.contact .contact-info .info i {
	position: relative;
	background: #fff;
	font-size: 3rem;
	color: #181818;
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: -40px;
	line-height: 80px;
	border-bottom: 4px solid rgba(233, 233, 233, 0.8);
	border-radius: 0 0 100% 100%;
}
.contact .contact-info .info .info-content {
	border: 1px solid #ccc;
	padding: 40px 0 20px;
}
.contact .contact-info .info .info-content h3 {
	color: #181818;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.contact .contact-info .info .info-content span {
	display: block;
	color: #555;
	letter-spacing: 1.5px;
	margin: 5px auto;
} */
